Q1. How do you comment code in Python? What are the different types of comments?

In [14]:
# Ans :- There are two types of comment in python  = 
#      sinle line comment  -   # or ##
#  multiple line comment  - """ --------
#                           --------
#                           --------  """
                              
## example:- # my name is amar
""" my name is amar
         my father name is sanjay
         my brother name is nayan
         my mother name is sapna"""

IndentationError: unexpected indent (4257994919.py, line 4)

In [16]:
#Q2. What are variables in Python? How do you declare and assign values to variables?

#ans: variables are used to store and refer to data values. They are essentially containers that hold a value, which can be of various types such as numbers, strings, lists, or other objects. Variables allow you to assign a name to a value, making it easier to work with and manipulate data in your programs.

#declaration of variable 
#variable_name = value
 
# example :- 
a = 10
amar = 2332
x= (1,2,3)
y={1,2,3}
z=[ 1.2, 12, 'amar']
dict = {'name': 'amar', '123': True}

Q3. How do you convert one data type to another in Python?

ans :- we can easily convert one data type to another data type  by using assignment operater(=)
      for example :- a= 10
                    type(a) 
                    int

In [16]:
age= "1"
age=int(age)

In [17]:
age

1

In [18]:
type(age)

int

In [17]:
input()

 12

'12'

In [18]:
int(input())

 1

1

Q4. How do you write and execute a Python script from the command line?

Open a text editor of your choice (e.g., Notepad, Sublime Text, Visual Studio Code) and create a new file.
Write your Python code in the text editor. For example, let's create a simple "hello world" script:

print("Hello, world!")

Save the file with a .py extension, such as hello.py. Make sure you remember the directory where you saved the file.

Open the command line or terminal on your operating system.

Navigate to the directory where you saved the Python script using the cd command. For example, if the file is saved in the Documents directory, you would use

cd Documents

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [1]:
my_list = [1, 2, 3, 4, 5]

In [4]:
sub_list=my_list[1:3]

In [5]:
sub_list

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Complex numbers are the numbers that are expressed in the form of a+ib where,
a,b are real numbers and 'i' is an imaginary number called “iota”. The value of i = (√-1).

In [7]:
a=4+5j # representation of complex number in python

In [8]:
type(a)

complex

In [9]:
a.real

4.0

In [10]:
a.imag

5.0

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [11]:
# varible always start from leter or word just like given below example
age=25

In [12]:
_age=25

In [13]:
type(age)

int

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [19]:
price=99.9 # data type of price is float

In [20]:
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [21]:
name= " amar sanjay mandale"

In [22]:
name

' amar sanjay mandale'

Q10. Given the string "Hello, World!", extract the substring "World".

In [25]:
string="Hello, World!"

In [29]:
sub_tring=string[7:12]

In [30]:
sub_tring

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [33]:
is_student=True

In [32]:
type(is_student)

bool

In [34]:
is_student

True

In [35]:
is_student=False

In [36]:
is_student

False

In [37]:
True

True

In [40]:
range(False)

range(0, 0)